.quote-box {
	display: flex;
	flex-direction: column;
}

.kanye-title {
	padding-top: .5rem;
	font-size: large;
}

.kanye-quote {
	font-weight: 200;
	font-style: italic;
	font-size: x-large;
	margin: 0 1rem;
}
