h1 {
	color: black;
}

.news-list {
	/* width: 75vmax; */
	margin: 0 2rem;
}

.news-list-grid {
	display: flex;
	flex-direction: column;
	/* gap: 1rem; */
}

.news-title {
	text-align: left;
	font-size: x-large;
}

.nyt-logo {
	background-color: #eeeeee;
	padding-top: 1rem;
}

.modal-body {
	/* display: grid; */
	/* background-color: coral; */
	text-align: center;
	font-family: 'Oswald';
}

.modal-title {
	text-align: center;
	padding: 2rem;
	font-family: 'Oswald';
}

.modal-img {
	max-width: 80%;
}

.modal-link:hover {
	color: #444444;
}

@media (min-width: 850px) {
}
