h1 {
	color: black;
}

.news-list {
    width: 75vmax;
    margin: auto;

}

.news-list-grid {
    color: coral;
    grid-template-columns: auto auto auto auto auto;
    display: grid;
    grid-gap: 10px;
    max-width: 150px;   
}

.news-title {
    font-style: normal;
    text-align: left;
}

.nyt-logo {
    position: absolute;
    left: 0px;
}